Repository gperdomor/nx-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup, builder-12, builder-14, builder-15, builder-16

setup:
  image: node:16.3.0
  cache:
    key:
    - .node-job
    - cache
    - key
    paths:
    - .node-job
    - cache
    - paths
    policy: pull-push
  before_script:
  - npm ci --cache .npm --prefer-offline --ignore-scripts
  stage: setup
  script:
  - echo "Done!..."

builder-12:
  variables:
    NODE_VERSION: 12.22.1
    ALPINE_VERSION: '3.12'

builder-14:
  variables:
    NODE_VERSION: 14.17.0
    ALPINE_VERSION: '3.13'

builder-15:
  variables:
    NODE_VERSION: 15.14.0
    ALPINE_VERSION: '3.13'

builder-16:
  variables:
    NODE_VERSION: 16.4.1
    ALPINE_VERSION: '3.13'

test(ci-context): improved tests using mocked-env
  package-lock.json
  package.json
  packages/ci-context/package.json
  packages/ci-context/src/lib/repo.factory.ts
  packages/ci-context/src/lib/utils/circle.spec.ts
  packages/ci-context/src/lib/utils/circle.ts
  packages/ci-context/src/lib/utils/github.spec.ts
  packages/ci-context/src/lib/utils/github.ts
  packages/ci-context/src/lib/utils/gitlab.spec.ts
  packages/ci-context/src/lib/utils/gitlab.ts
  packages/ci-context/src/lib/utils/local.ts
  packages/core/src/lib/get-input.spec.ts
Due: setup

chore(deps): bump ts-jest from 27.0.3 to v27.0.4
  package-lock.json
  package.json
Due: setup

chore(deps): bump typescript-eslint monorepo from 4.28.4 to v4.28.5
  package-lock.json
  package.json
Due: setup

chore(deps): bump @nrwl/nx-cloud from 12.3.0 to v12.3.5
  package-lock.json
  package.json
Due: setup

chore(deps): bump nrwl monorepo from 12.6.2 to v12.6.3
  package-lock.json
  package.json
Due: setup

chore(deps): bump eslint from 7.31.0 to v7.32.0
  package-lock.json
  package.json
Due: setup

chore(deps): bump lint-staged from 11.0.1 to v11.1.2
  package-lock.json
  package.json
Due: setup

chore(deps): bump @nrwl/nx-cloud from 12.3.5 to v12.3.6
  package-lock.json
  package.json
Due: setup

chore(deps): bump nrwl monorepo from 12.6.3 to v12.6.5
  package-lock.json
  package.json
Due: setup

chore(deps): bump docker docker tag to v20.10.8
  .gitlab-ci.yml
Due: none

feat(docker): update node versions
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  .gitlab/node-16.yml
  docker/Dockerfile
  docker/README.md
Due: builder-12, builder-14, builder-15, builder-16

feat(docker): add suport for node 16.6.1
  .gitlab-ci.yml
  .gitlab/node-16.yml
  docker/README.md
Due: builder-16

chore(deps): bump ghcr.io/gperdomor/nx-docker docker tag to v16.6.1
  .gitlab-ci.yml
Due: none

chore(deps): bump prisma monorepo from 2.27.0 to v2.28.0
  package-lock.json
  package.json
Due: setup

chore(deps): bump commitlint monorepo from 12.1.4 to v13
  package-lock.json
  package.json
Due: setup

chore: update renovate config
  .renovaterc.json
  package-lock.json
Due: setup

feat(ci-context): jenkins context
  packages/ci-context/src/lib/context.factory.ts
  packages/ci-context/src/lib/repo.factory.ts
  packages/ci-context/src/lib/utils/jenkins.spec.ts
  packages/ci-context/src/lib/utils/jenkins.ts
Due: none

feat(core): bump version
  packages/core/package.json
  packages/core/src/lib/get-input.spec.ts
Due: none

feat(ci-context): bump version
  packages/ci-context/package.json
Due: none

feat(docker): add suport for node 12.22.5, 14.17.5 and 16.6.2
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  docker/README.md
Due: builder-12, builder-14, builder-16

feat(docker-meta): improvements and pep440 support
  package-lock.json
  package.json
  packages/docker-meta/package.json
  packages/docker-meta/project.json
  packages/docker-meta/src/lib/context.spec.ts
  packages/docker-meta/src/lib/context.ts
  packages/docker-meta/src/lib/fixtures/event_tag_1.0dev4.env
  packages/docker-meta/src/lib/fixtures/event_tag_1.1beta2.env
  packages/docker-meta/src/lib/fixtures/event_tag_1.2.3rc2.env
  packages/docker-meta/src/lib/fixtures/event_tag_1.2.env
  packages/docker-meta/src/lib/fixtures/event_tag_1.2post1.env
  packages/docker-meta/src/lib/flavor.spec.ts
  packages/docker-meta/src/lib/flavor.ts
  packages/docker-meta/src/lib/main.ts
  packages/docker-meta/src/lib/meta.spec.ts
  packages/docker-meta/src/lib/meta.ts
  packages/docker-meta/src/lib/pep440.d.ts
  packages/docker-meta/src/lib/tag.ts
  packages/nx-docker/src/executors/build/context.spec.ts
Due: setup

feat(nx-docker): bx docker improvements
  package-lock.json
  package.json
  packages/ci-context/src/lib/utils/jenkins.spec.ts
  packages/docker-meta/package.json
  packages/nx-docker/generators.json
  packages/nx-docker/package.json
  packages/nx-docker/project.json
  packages/nx-docker/src/executors/build/buildx.spec.ts
  packages/nx-docker/src/executors/build/buildx.ts
  packages/nx-docker/src/executors/build/context.spec.ts
  packages/nx-docker/src/executors/build/context.ts
  packages/nx-docker/src/executors/build/docker.ts
  packages/nx-docker/src/executors/build/exec.ts
  packages/nx-docker/src/executors/build/main.spec.ts
  packages/nx-docker/src/executors/build/main.ts
Due: setup

chore: update nx stack to 12.8
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  .renovaterc.json
  package-lock.json
  package.json
  packages/ci-context/package.json
  packages/core/package.json
  packages/docker-meta/package.json
  packages/nx-docker/package.json
  packages/nx-prisma/package.json
Due: setup, builder-12, builder-14, builder-16

chore: some updates
  docker/README.md
  package-lock.json
  package.json
Due: setup

feat(nx-docker): improvements
  .dockerignore
  packages/nx-docker/src/executors/build/buildx.spec.ts
  packages/nx-docker/src/executors/build/buildx.ts
  packages/nx-docker/src/executors/build/context.spec.ts
  packages/nx-docker/src/executors/build/context.ts
  packages/nx-docker/src/executors/build/main.ts
  packages/nx-docker/src/executors/build/schema.d.ts
  packages/nx-docker/src/executors/build/schema.json
  packages/nx-docker/tests/Dockerfile
Due: none

feat: general improvements and versions bumps
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  docker/Dockerfile
  docker/README.md
  package-lock.json
  package.json
  packages/ci-context/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/set-output.spec.ts
  packages/core/src/lib/set-output.ts
  packages/docker-meta/package.json
  packages/docker-meta/src/lib/context.ts
  packages/docker-meta/src/lib/main.ts
  packages/docker-meta/src/lib/meta.spec.ts
  packages/docker-meta/src/lib/meta.ts
  packages/nx-docker/package.json
  packages/nx-docker/src/executors/build/context.ts
  packages/nx-docker/src/executors/build/schema.d.ts
  packages/nx-docker/src/executors/build/schema.json
  packages/nx-prisma/package.json
Due: setup, builder-12, builder-14, builder-16

ci: add github actions support
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/node-12.yml
  .github/workflows/node-14.yml
  .github/workflows/node-16.yml
  docker/Dockerfile
  package-lock.json
  package.json
  tools/build.js
Due: setup

docs: fix docs
  packages/nx-docker/README.md
Due: none

fix: upgrade tslib from 2.3.0 to 2.3.1
  packages/nx-docker/package.json
Due: none

chore: remove gitlab related code
  .github/workflows/node-12.yml
  .github/workflows/node-14.yml
  .github/workflows/node-16.yml
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  tools/build.js
Due: builder-12, builder-14, builder-16

feat: update nx stack to 12.9.0
  nx.json
  package-lock.json
  package.json
  packages/ci-context/project.json
  packages/core/project.json
  packages/core/src/lib/set-output.ts
  packages/docker-meta/project.json
  packages/nx-docker/project.json
  packages/nx-prisma/project.json
Due: setup

chore: setup semver plugin
  package-lock.json
  package.json
  packages/ci-context/project.json
  packages/core/project.json
  packages/docker-meta/project.json
  packages/nx-docker/project.json
  packages/nx-prisma/project.json
Due: setup

chore: move from renovate to dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .renovaterc.json
Due: none

ci: update automerge job
  .github/workflows/ci.yml
Due: none

feat(nx-prisma): update to prisma 3
  package-lock.json
  package.json
  packages/nx-docker/src/executors/build/context.spec.ts
  packages/nx-docker/src/executors/build/main.ts
  packages/nx-prisma/package.json
  packages/nx-prisma/src/executors/reset/executor.ts
Due: setup

chore: disable dependabot
  .github/dependabot.yml
Due: none

chore(builder): add node 16.10.0 and 14.18.0 support
  .github/workflows/node-14.yml
  .github/workflows/node-16.yml
Due: none

ci: ci improvements
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore: prevent commits if local registry or yarn/pnpm are used
  .husky/pre-commit
  jest.preset.js
  package.json
  tools/scripts/check-lock-files.js
Due: none

Path conditions:
  setup: any of: package-lock.json
  builder-12: any of: .gitlab/node-12.yml
  builder-14: any of: .gitlab/node-14.yml
  builder-15: any of: .gitlab/node-15.yml
  builder-16: any of: .gitlab/node-16.yml
