Repository gperdomor/nx-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup, builder-12, builder-14, builder-15, builder-16

.gitlab-ci.yml:

include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'

stages:
  - setup
  - test

variables:
  GIT_DEPTH: 0
  NX_BRANCH: $CI_COMMIT_BRANCH
  NX_RUN_GROUP: $CI_PIPELINE_ID
  NX_CLOUD_ACCESS_TOKEN: $NX_CLOUD_AUTH_TOKEN
  NX_CLOUD_DISTRIBUTED_EXECUTION: 'true'
  PRISMA_HIDE_UPDATE_MESSAGE: 'true'

.node-job:
  image: node:16.3.0
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
    policy: pull
  before_script:
    - npm ci --cache .npm --prefer-offline --ignore-scripts

.base-head-rules:
  rules:
    - if: $CI_MERGE_REQUEST_IID
      when: delayed
      start_in: 15 seconds
      variables:
        NX_BASE: remotes/origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: delayed
      start_in: 15 seconds
      variables:
        NX_BASE: HEAD~1

.require-setup:
  needs:
    - job: setup
      optional: true

setup:
  stage: setup
  extends: [.node-job]
  cache:
    key: !reference [.node-job, cache, key]
    paths: !reference [.node-job, cache, paths]
    policy: pull-push
  script:
    - echo "Done!..."
  rules:
    - changes:
        - package-lock.json

agent:
  stage: test
  extends: [.node-job, .require-setup]
  parallel: 2
  image: ghcr.io/gperdomor/nx-docker:16.2-alpine
  services:
    - docker:20.10.7-dind
  script:
    - npx @nrwl/nx-cloud start-agent

verify:
  extends: [.node-job, .base-head-rules, .require-setup]
  stage: test
  script:
    - npx nx affected --target=build --base=$NX_BASE --parallel --max-parallel=3
    - npx nx affected --target=lint  --base=$NX_BASE --parallel --max-parallel=3
    - npx nx affected --target=test  --base=$NX_BASE --parallel --max-parallel=2
    - npx nx affected --target=e2e   --base=$NX_BASE --parallel --max-parallel=2
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  after_script:
    - npx @nrwl/nx-cloud stop-all-agents

verify-tag:
  extends: [.node-job, .require-setup]
  stage: test
  script:
    - npx nx affected --target=build --all --parallel --max-parallel=3
    - npx nx affected --target=lint  --all --parallel --max-parallel=3
    - npx nx affected --target=test  --all --parallel --max-parallel=2
    - npx nx affected --target=e2e   --all --parallel --max-parallel=2
  coverage: !reference [verify, coverage]
  after_script: !reference [verify, after_script]
  rules:
    - if: $CI_COMMIT_TAG
      when: delayed
      start_in: 15 seconds

.gitlab/node-12.yml:

builder-12:
  extends: [.docker-build]
  variables:
    NODE_VERSION: '12.22.1'
    ALPINE_VERSION: '3.12'
  rules:
    - changes:
        - .gitlab/node-12.yml

.gitlab/node-14.yml:

builder-14:
  extends: [.docker-build]
  variables:
    NODE_VERSION: '14.17.0'
    ALPINE_VERSION: '3.13'
  rules:
    - changes:
        - .gitlab/node-14.yml

.gitlab/node-15.yml:

builder-15:
  extends: [.docker-build]
  variables:
    NODE_VERSION: '15.14.0'
    ALPINE_VERSION: '3.13'
  rules:
    - changes:
        - .gitlab/node-15.yml

.gitlab/node-16.yml:

builder-16:
  extends: [.docker-build]
  variables:
    NODE_VERSION: '16.2.0'
    ALPINE_VERSION: '3.13'
  rules:
    - changes:
        - .gitlab/node-16.yml

feat(nx-builder): add node 16.3.0 support
  .gitlab/node-16.yml
  docker/README.md
Due: builder-16

chore: bump versions
  .gitlab-ci.yml
  package-lock.json
  package.json
  packages/ci-context/package.json
  packages/core/package.json
  packages/docker-meta/package.json
  packages/nx-docker/package.json
  packages/nx-prisma/package.json
  publish.sh
Due: setup

chore: updates
  .vscode/extensions.json
  README.md
  jest.config.js
  packages/ci-context/jest.config.js
  packages/core/jest.config.js
  packages/docker-meta/jest.config.js
  packages/nx-docker/generators.json
  packages/nx-docker/jest.config.js
  packages/nx-prisma/generators.json
  packages/nx-prisma/jest.config.js
  workspace.json
Due: none

feat: use interpolation in docker-meta and nx-docker
  packages/docker-meta/package.json
  packages/docker-meta/src/lib/context.ts
  packages/docker-meta/src/lib/main.ts
  packages/nx-docker/package.json
  packages/nx-docker/src/executors/build/main.ts
Due: none

chore(deps): bump ghcr.io/gperdomor/nx-docker docker tag to v16.3
  .gitlab-ci.yml
Due: none

chore: remove .github folder
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/node-12.yml
  .github/workflows/node-14.yml
  .github/workflows/node-15.yml
  .github/workflows/node-16.yml
Due: none

chore(deps): pin @nx-tools/nx-docker from 1.0.1 to v1.0.1
  package-lock.json
  package.json
Due: setup

chore(deps): bump jest from 27.0.5 to v27.0.6
  package-lock.json
  package.json
Due: setup

fix: #324
  packages/nx-docker/src/executors/build/schema.json
Due: none

feat(nx-docker): fix schema
  packages/nx-docker/package.json
  packages/nx-docker/src/executors/build/schema.json
Due: none

feat(docker): add node 14.17.1 builder support
  .gitlab/node-14.yml
  docker/README.md
Due: builder-14

chore(deps): bump typescript from 4.3.4 to v4.3.5
  package-lock.json
  package.json
Due: setup

chore(deps): bump typescript-eslint monorepo from 4.28.0 to v4.28.2
  package-lock.json
  package.json
Due: setup

docs(nx-docker): updated docs
  packages/nx-docker/README.md
Due: none

feat(nx-docker): fix metadata enabled detection
  .gitlab-ci.yml
  packages/core/src/lib/core.spec.ts
  packages/nx-docker/README.md
  packages/nx-docker/package.json
  packages/nx-docker/src/executors/build/context.ts
  packages/nx-docker/src/executors/build/schema.json
  packages/nx-prisma/src/executors/generate/executor.spec.ts
  packages/nx-prisma/src/executors/migrations/executor.spec.ts
  packages/nx-prisma/src/executors/reset/executor.spec.ts
  packages/nx-prisma/src/executors/seed/executor.spec.ts
Due: none

chore(deps): bump @nx-tools/nx-docker from 1.0.1 to v1.0.5
  package-lock.json
  package.json
Due: setup

chore(deps): bump node.js to v16.4.2
  .gitlab-ci.yml
Due: none

chore(deps): bump prisma monorepo from 2.25.0 to v2.26.0
  package-lock.json
  package.json
Due: setup

feat(docker): add node 12.22.2, 14.17.2, 16.4.0
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  .renovaterc.json
  docker/README.md
Due: builder-12, builder-14, builder-16

feat(docker): add node 16.4.1 support
  .gitlab/node-16.yml
  docker/README.md
Due: builder-16

feat(docker): add node 16.4.2 support
  .gitlab/node-16.yml
  docker/README.md
Due: builder-16

chore: update nx stack
  nx.json
  package-lock.json
  package.json
Due: setup

chore(deps): bump eslint from 7.29.0 to v7.30.0
  package-lock.json
  package.json
Due: setup

chore(deps): bump ghcr.io/gperdomor/nx-docker docker tag to v16.4
  .gitlab-ci.yml
Due: none

fix(deps): bump tslib from 2.2.0 to v2.3.0
  package-lock.json
  package.json
  packages/nx-docker/package.json
Due: setup

chore(deps): bump husky from 6.0.0 to v7
  package-lock.json
  package.json
Due: setup

chore(deps): bump @types/jest from 26.0.23 to v26.0.24
  package-lock.json
  package.json
Due: setup

chore(deps): bump nrwl monorepo from 12.5.7 to v12.5.8
  package-lock.json
  package.json
Due: setup

chore(deps): bump node.js to v16.5.0
  .gitlab-ci.yml
Due: none

chore(deps): bump prisma monorepo from 2.26.0 to v2.27.0
  package-lock.json
  package.json
Due: setup

chore(deps): bump lint-staged from 11.0.0 to v11.0.1
  package-lock.json
  package.json
Due: setup

chore(deps): bump typescript-eslint monorepo from 4.28.2 to v4.28.3
  package-lock.json
  package.json
Due: setup

feat(docker): update docker builder versions
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-16.yml
  docker/Dockerfile
  docker/README.md
Due: builder-12, builder-14, builder-16

chore(deps): bump ghcr.io/gperdomor/nx-docker docker tag to v16.5
  .gitlab-ci.yml
Due: none

chore(deps): bump eslint from 7.30.0 to v7.31.0
  package-lock.json
  package.json
Due: setup

feat(core): fix getInput to handle not POSIX compilant names
  packages/core/package.json
  packages/core/src/lib/core.spec.ts
  packages/core/src/lib/core.ts
Due: none

chore(deps): bump typescript-eslint monorepo from 4.28.3 to v4.28.4
  package-lock.json
  package.json
Due: setup

chore(deps): bump nrwl monorepo from 12.5.8 to v12.6.2
  jest.config.js
  package-lock.json
  package.json
Due: setup

chore: convert to standalone config
  nx.json
  packages/ci-context/project.json
  packages/core/project.json
  packages/docker-meta/project.json
  packages/nx-docker/project.json
  packages/nx-prisma/project.json
  workspace.json
Due: none

feat(core): improved tests using mocked-env
  .gitlab-ci.yml
  .husky/.gitignore
  README.md
  jest.config.js
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/async-for-each.spec.ts
  packages/core/src/lib/async-for-each.ts
  packages/core/src/lib/core.spec.ts
  packages/core/src/lib/get-input.spec.ts
  packages/core/src/lib/get-input.ts
  packages/core/src/lib/interpolate.spec.ts
  packages/core/src/lib/interpolate.ts
Due: setup
